In [1]:
import pandas as pd
import numpy as np

#Загрузка данных
finance = pd.read_csv('office_data/financial_data.csv')
prolong = pd.read_csv('office_data/prolongations.csv')

#Смотрим на данные в таблице
finance.info()
prolong.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 451 entries, 0 to 450
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             451 non-null    int64
 1   Причина дубля  301 non-null    object
 2   Ноябрь 2022    156 non-null    object
 3   Декабрь 2022   159 non-null    object
 4   Январь 2023    139 non-null    object
 5   Февраль 2023   145 non-null    object
 6   Март 2023      168 non-null    object
 7   Апрель 2023    174 non-null    object
 8   Май 2023       190 non-null    object
 9   Июнь 2023      190 non-null    object
 10  Июль 2023      195 non-null    object
 11  Август 2023    199 non-null    object
 12  Сентябрь 2023  186 non-null    object
 13  Октябрь 2023   182 non-null    object
 14  Ноябрь 2023    171 non-null    object
 15  Декабрь 2023   146 non-null    object
 16  Январь 2024    95 non-null     object
 17  Февраль 2024   101 non-null    object
 18  Account        451 non-null    object
dtypes: int64(1), object(18)
memory usage: 67.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 477 entries, 0 to 476
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      477 non-null    int64
 1   month   477 non-null    object
 2   AM      477 non-null    object
dtypes: int64(1), object(2)
memory usage: 11.3+ KB

In [3]:
#Подгатавливаем данные:
prolong['month'] = [s.lower() if isinstance(s, str) else s for s in prolong['month']]
finance.columns = finance.columns.str.lower()

months = [c for c in finance.columns if any(m in c.lower() for m in [
    'янв', 'фев', 'мар', 'апр', 'май', 'июн', 'июл', 'авг', 'сен', 'окт', 'ноя', 'дек'
])] #Выделяем список месяцев

#Переводим значения отгрузки в числовой формат
for m in months:
    finance[m] = (
        finance[m]
        .astype(str)
        .str.strip()
        .str.replace(',', '.', regex=False)   # заменяем запятые на точки
        .str.replace(' ', '', regex=False)    # убираем пробелы и неразрывные пробелы
        .str.replace('\u00A0', '', regex=False)
    )
finance[months] = finance[months].replace({'в ноль': 0, 'В ноль': 0, 'стоп': -1 , 'end': -1, 'Стоп': -1 , 'End': -1})    
finance[months] = finance[months].apply(pd.to_numeric, errors='coerce')

#Объединяем таблицы по id
data = finance.merge(prolong, on = 'id', how = 'left')

print(data.shape) #Проверка размера таблицы до

#Проверка на  раннее окончание проекта
def ended_early(row):
    end_month = row['month']
    if end_month not in months:
        return False  # если вдруг месяц не найден
    end_index = months.index(end_month)
    # Проверяем все значения до (и включая) месяца завершения
    return (row[months[:end_index+1]] == -1).any()


#Применяем функцию к каждой строке таблицы
mask = data.apply(ended_early, axis=1)

#Убираем проекты, которые завершились раньше
data = data[~mask]
print(data.shape) #Проверка размера после

(726, 21)
(665, 21)

In [5]:
#Рассчёт коэффициентов

results = []  #все коэффициенты

#Перебираем месяцы, начиная со второго
for i in range(1, len(months)):
    if '2023' in months[i]:
        target_month = months[i]
        prev_month_1 = months[i - 1]
        
        #Рассчёт по менеджерам
        for am in data['AM'].unique():
            am_data = data[data['AM'] == am]
    
            #К1 - Коэффициент пролонгации первого месяца
            ended_prev = am_data[am_data['month'] == prev_month_1]
            print(ended_prev[prev_month_1])
            sum_last = ended_prev[prev_month_1].sum()
            sum_next = ended_prev[target_month].sum()
            K1 = sum_next / sum_last if sum_last > 0 else 0
          
            #К2 -Коэффициент пролонгации второго месяца
            if i >= 2:
                prev_month_2 = months[i - 2]
                ended_prev2 = am_data[am_data['month'] == prev_month_2]
                #Исключаем те, у кого была отгрузка в промежуточный месяц
                ended_prev2 = ended_prev2[(ended_prev2[prev_month_1].isna()) | (ended_prev2[prev_month_1] == 0)]
                sum_last2 = ended_prev2[prev_month_2].sum()
                sum_next2 = ended_prev2[target_month].sum()
                K2 = sum_next2 / sum_last2 if sum_last2 > 0 else 0
            else:
                K2 = None  #Для первых месяцев невозможно посчитать K2
            results.append({
                'Месяц пролонгации': target_month,
                'Менеджер': am,
                'K1 (первый месяц)': K1,
                'K2 (второй месяц)': K2
            })

#Преобразуем в таблицу
coef_df = pd.DataFrame(results)

18      55100.00
57      29127.50
58      29127.50
60      29960.00
62      74650.00
82      72900.00
129     71000.00
133          NaN
256    602370.00
259          NaN
533    501895.00
538          NaN
557     37939.50
559     85842.00
673     28200.00
685     74986.18
687          NaN
Name: декабрь 2022, dtype: float64
0.556235833953774
0.0
25      18710.00
26       2110.00
42     231057.76
43     100485.00
59      88850.00
61      45950.00
280    170268.00
285          NaN
502          NaN
504     68120.00
519     64755.50
521     72807.00
648     48400.00
Name: декабрь 2022, dtype: float64
0.42733223650525937
0.7102548684027938
32           NaN
39      92140.00
40      55000.00
178    107275.00
195     83400.00
527    190675.00
529     19340.21
716     79950.00
719     13300.00
Name: декабрь 2022, dtype: float64
0.6879234191303456
0.0
31     20590.0
35     34100.0
41     82435.0
96         NaN
553        NaN
555    47400.0
605    57545.0
611        NaN
617        NaN
Name: декабрь 2022, dtype: float64
0.44067831618953196
0.0
16           NaN
17      55195.00
24     110700.00
33     103230.00
34      27180.00
44     190280.00
45     220830.00
47      90935.00
48      44570.00
49      65020.00
50      20450.00
51      66280.00
52      85000.00
53     149765.00
63     296130.71
182    329460.00
187    109820.00
547    137700.00
576    194050.00
Name: декабрь 2022, dtype: float64
0.2700657835853922
0.0
54     31965.0
55      2110.0
56      4220.0
312    57615.0
479        NaN
483    54165.0
Name: декабрь 2022, dtype: float64
0.7433949691820756
0
665    26167.5
669    26167.5
Name: декабрь 2022, dtype: float64
1.2659787904843796
0
Series([], Name: декабрь 2022, dtype: float64)
0
0
Series([], Name: декабрь 2022, dtype: float64)
0
0
Series([], Name: декабрь 2022, dtype: float64)
0
0
Series([], Name: декабрь 2022, dtype: float64)
0
0
65          NaN
83      60900.0
130         NaN
134         NaN
399     34850.0
534    660475.0
539         NaN
Name: январь 2023, dtype: float64
1.155760521008959
0.19720419370943584
76     59600.0
77     34000.0
78     67485.0
79     99958.5
80         NaN
81         NaN
98     96750.0
100    26555.0
102     2745.0
105    37000.0
108    67835.0
111     3395.0
506        NaN
509    88975.0
Name: январь 2023, dtype: float64
0.2347344721918677
0.21567550476955258
67     674000.0
690    226420.0
Name: январь 2023, dtype: float64
0.9036449656826814
0.0
70     100355.0
71      27422.0
72          NaN
73      30400.0
74      21000.0
75      14700.0
145         NaN
Name: январь 2023, dtype: float64
0.0
0.0
Series([], Name: январь 2023, dtype: float64)
0
0.0
68    36950.0
69    11050.0
Name: январь 2023, dtype: float64
0.0
0.0
113        NaN
115        NaN
666    33127.5
670    33127.5
Name: январь 2023, dtype: float64
0.8469549467964682
0
Series([], Name: январь 2023, dtype: float64)
0
0
Series([], Name: январь 2023, dtype: float64)
0
0
Series([], Name: январь 2023, dtype: float64)
0
0
Series([], Name: январь 2023, dtype: float64)
0
0
84      76500.00
86     177635.00
94      70445.00
148     48715.00
202    144650.00
207    114283.00
295     40200.00
583     79800.00
588     11864.42
646    171260.00
667          NaN
671     56115.00
Name: февраль 2023, dtype: float64
0.6272496074555833
1.4911131070496084
88      42830.0
99          NaN
101         NaN
103         NaN
106         NaN
109         NaN
112         NaN
220     56125.0
222      4220.0
405     80085.0
472    106800.0
Name: февраль 2023, dtype: float64
0.9392194718334138
0.0
722    5306.6
Name: февраль 2023, dtype: float64
2.4305770172992123
0
91      71735.0
92       6330.0
97          NaN
172     49515.0
175         NaN
270    139625.0
272     43255.0
309     14860.0
606     57545.0
612         NaN
618         NaN
Name: февраль 2023, dtype: float64
0.6845232653807478
0.0
89           NaN
95     127200.00
183    102433.75
188          NaN
Name: февраль 2023, dtype: float64
0.4460744555188425
0
Series([], Name: февраль 2023, dtype: float64)
0
1.1505208333333334
114   NaN
116   NaN
Name: февраль 2023, dtype: float64
0
0.0
Series([], Name: февраль 2023, dtype: float64)
0
0
Series([], Name: февраль 2023, dtype: float64)
0
0
Series([], Name: февраль 2023, dtype: float64)
0
0
Series([], Name: февраль 2023, dtype: float64)
0
0
117     48280.00
118     53884.00
119     86496.50
120     25672.50
131     44250.00
132     44250.00
135     75000.00
136     75000.00
149     49610.00
352     44100.00
459    324600.00
462     85120.00
584     82400.00
589     10354.55
695     23944.00
696     23944.00
698    252063.90
699    252063.90
Name: март 2023, dtype: float64
0.35124814857854153
0.11020341027468611
123     42920.0
124      6875.0
281    170268.0
286         NaN
418     93250.0
422     17645.0
426         NaN
430         NaN
435     37000.0
440     30495.0
Name: март 2023, dtype: float64
1.0658346153749627
0.0
254    42937.1
566    35000.0
Name: март 2023, dtype: float64
1.0988393204263438
0
121    46380.0
122    85135.0
137    69450.0
138    60930.0
146        NaN
300    51805.0
302    11765.0
316    35110.0
318    23270.0
Name: март 2023, dtype: float64
0.2893563808308041
0.7206349206349206
125          NaN
126    257700.00
127    221040.00
184    102433.75
189          NaN
577    240800.00
Name: март 2023, dtype: float64
0.2776828335454751
0.0
313    59390.0
380    33685.0
Name: март 2023, dtype: float64
0.9661026054257319
0
128    1425.0
Name: март 2023, dtype: float64
0.0
0
Series([], Name: март 2023, dtype: float64)
0
0
Series([], Name: март 2023, dtype: float64)
0
0
Series([], Name: март 2023, dtype: float64)
0
0
Series([], Name: март 2023, dtype: float64)
0
0
150     49850.0
152    550000.0
203    186395.0
204    186395.0
208     46410.0
209     46410.0
211         NaN
213         NaN
231     38632.5
296     40200.0
397     39726.0
460    324600.0
463     85120.0
535    676860.0
540      7125.0
Name: апрель 2023, dtype: float64
0.49690974343461797
0.01898860952340238
151    205000.0
226     27950.0
228     20500.0
431     45000.0
436     37000.0
441     21280.0
Name: апрель 2023, dtype: float64
0.23740644184677487
0.0
290    241780.0
369         NaN
691    168680.0
Name: апрель 2023, dtype: float64
1.1896159187253326
0
139    113735.0
140         NaN
141     18125.0
310     17740.0
342    117890.0
345     18600.0
410     34990.0
412      5190.0
607     57545.0
613         NaN
619         NaN
630     25377.5
634     25377.5
706     29795.0
708         NaN
Name: апрель 2023, dtype: float64
0.7569476597073422
0.0
185    138158.0
190         NaN
Name: апрель 2023, dtype: float64
1.0
0.0
Series([], Name: апрель 2023, dtype: float64)
0
0
Series([], Name: апрель 2023, dtype: float64)
0
0.0
Series([], Name: апрель 2023, dtype: float64)
0
0
Series([], Name: апрель 2023, dtype: float64)
0
0
Series([], Name: апрель 2023, dtype: float64)
0
0
Series([], Name: апрель 2023, dtype: float64)
0
0
156     63660.0
157     32255.0
158     36771.0
160         NaN
162     80000.0
163     18000.0
355    104768.0
357         NaN
400     54832.0
Name: май 2023, dtype: float64
0.38928703566102807
0.0569625712446836
177    12175.0
179    62405.0
717    78800.0
720    15900.0
Name: май 2023, dtype: float64
0.7664224952741021
0.0
180    103860.56
181     93064.62
Name: май 2023, dtype: float64
0.0
0
159    39810.0
173    37100.0
176        NaN
304        NaN
306        NaN
Name: май 2023, dtype: float64
0.0
0.16052535570959503
161    65050.0
164    54715.0
165    16030.0
166    23590.0
167    87570.0
168    20890.0
169    19045.0
170    19940.0
Name: май 2023, dtype: float64
-1.3036534889026497e-05
0
153    60470.00
154     4225.00
155    69699.35
Name: май 2023, dtype: float64
0.0
0
Series([], Name: май 2023, dtype: float64)
0
0
Series([], Name: май 2023, dtype: float64)
0
0
Series([], Name: май 2023, dtype: float64)
0
0
Series([], Name: май 2023, dtype: float64)
0
0
Series([], Name: май 2023, dtype: float64)
0
0
192         NaN
193     91257.6
196     74360.0
205    185370.0
210     72430.0
212     15400.0
214     53200.0
257     53510.0
260      1590.0
297    166465.0
320      1400.0
322         NaN
324         NaN
585     36100.0
590      4688.0
661         NaN
663    135985.0
Name: июнь 2023, dtype: float64
0.5850156702127803
0.0
216    321280.0
221     56125.0
223      2110.0
224     41500.0
225     30025.0
229         NaN
282    201870.0
287         NaN
419     93250.0
423     18540.0
427         NaN
432         NaN
437     37000.0
442     39710.0
567     35000.0
Name: июнь 2023, dtype: float64
0.6190880980363072
0.0
217    79180.0
Name: июнь 2023, dtype: float64
1.1975246274311695
0.0
197    180000.0
198     30195.0
218     66300.0
230         NaN
266     44165.0
Name: июнь 2023, dtype: float64
0.09605189297074783
0.5057859836172149
186    102433.75
191          NaN
194     45868.50
200     72485.00
219     50000.00
523     36415.00
525          NaN
578    117090.00
Name: июнь 2023, dtype: float64
0.4726105650056064
0.0
215        NaN
381    33685.0
Name: июнь 2023, dtype: float64
0.0
0.5162791441753317
Series([], Name: июнь 2023, dtype: float64)
0
0
Series([], Name: июнь 2023, dtype: float64)
0
0
Series([], Name: июнь 2023, dtype: float64)
0
0
Series([], Name: июнь 2023, dtype: float64)
0
0
Series([], Name: июнь 2023, dtype: float64)
0
0
241         NaN
242    180000.0
245    118000.0
246     49000.0
247     72500.0
251     35000.0
298    166500.0
353     28000.0
Name: июль 2023, dtype: float64
0.47750385208012325
0.0
248    126447.63
249     11995.00
250      1199.50
262     64390.00
264          NaN
283    183630.00
288     79200.00
Name: июль 2023, dtype: float64
0.5412625778835392
0.0
Series([], Name: июль 2023, dtype: float64)
0
0
238    77330.0
240    52970.0
243    44225.0
244        NaN
631    25377.5
635    25377.5
Name: июль 2023, dtype: float64
0.47993607954545453
0.0
232     38632.50
233    123417.00
234     23015.45
235     60823.75
236          NaN
608     57545.00
614          NaN
620          NaN
Name: июль 2023, dtype: float64
0.540674552628795
0.0
253    110000.0
480         NaN
484     32930.0
516     71410.0
710     78000.0
Name: июль 2023, dtype: float64
0.37252856263255113
1.5530651625352532
Series([], Name: июль 2023, dtype: float64)
0
0
252   NaN
Name: июль 2023, dtype: float64
0
0
Series([], Name: июль 2023, dtype: float64)
0
0
Series([], Name: июль 2023, dtype: float64)
0
0
Series([], Name: июль 2023, dtype: float64)
0
0
258     58355.00
261          NaN
292    763110.00
299    166500.00
390     68850.00
392     13370.00
401     51910.74
512     64940.00
543     80505.00
570     94000.00
Name: август 2023, dtype: float64
0.172432592799243
0.0
255          NaN
274     67331.37
277     22887.50
278     22887.50
284    183630.00
289          NaN
293     32750.00
363    153884.10
Name: август 2023, dtype: float64
0.29472005188897865
0.004569504052990162
291    333853.75
Name: август 2023, dtype: float64
0.0
0
267     56975.0
271    139625.0
273     52750.0
305     13400.0
307         NaN
653    216145.0
655     12200.0
Name: август 2023, dtype: float64
0.4543825532738065
0.0
303        NaN
308    74795.0
487    52778.0
491    79167.0
495        NaN
Name: август 2023, dtype: float64
0.9985489020025152
0.0
263     69065.00
265          NaN
275     85351.00
276     36579.00
279    137500.00
361     36883.54
Name: август 2023, dtype: float64
0.7654703803896091
0.0
Series([], Name: август 2023, dtype: float64)
0
0
Series([], Name: август 2023, dtype: float64)
0
0
Series([], Name: август 2023, dtype: float64)
0
0
Series([], Name: август 2023, dtype: float64)
0
0
Series([], Name: август 2023, dtype: float64)
0
0
321     94050.0
323         NaN
325         NaN
332     34090.0
333     33725.0
334     33200.0
354     15120.0
536    187385.0
541      3800.0
Name: сентябрь 2023, dtype: float64
0.8867503799486758
0.07225635943178065
315     99010.00
340     15678.25
341          NaN
360     35000.00
364    142458.97
420    115900.00
424          NaN
428          NaN
433          NaN
438     37000.00
443     75215.00
445    114800.00
447     39690.00
488     78987.00
492     52658.00
496          NaN
568     50000.00
609     57545.00
615          NaN
621          NaN
Name: сентябрь 2023, dtype: float64
0.8417982922377741
0.0
370    316620.75
371     20440.00
579    162650.00
692    166320.00
Name: сентябрь 2023, dtype: float64
0.44907836462505674
0.0
311     16685.00
317     38390.00
319      8375.00
328     54414.00
329      1404.26
335     53625.00
336     70875.00
337    101230.00
338      9150.00
344    117890.00
347     16095.00
349     39495.00
350          NaN
351     40225.00
365     64400.00
366          NaN
593    113493.50
595     41079.32
Name: сентябрь 2023, dtype: float64
0.793626210254749
0.5941407528641571
Series([], Name: сентябрь 2023, dtype: float64)
0
0
314     68685.00
330    539295.25
331     16728.00
343    117890.00
346     16095.00
348     70025.00
356    108416.00
358     10000.00
362     39561.45
408     22020.00
Name: сентябрь 2023, dtype: float64
1.0472413089238128
0.0
586    36100.00
591     7851.06
Name: сентябрь 2023, dtype: float64
1.3085154260215794
0
Series([], Name: сентябрь 2023, dtype: float64)
0
0
Series([], Name: сентябрь 2023, dtype: float64)
0
0
Series([], Name: сентябрь 2023, dtype: float64)
0
0
Series([], Name: сентябрь 2023, dtype: float64)
0
0
374          NaN
377     49263.75
378     49263.75
391     68650.00
393     13370.00
514     61000.00
531    106346.00
572    197110.00
574     32925.00
Name: октябрь 2023, dtype: float64
0.6210006947226171
0.0
379    190000.0
384     65700.0
489     78987.0
493     52658.0
497         NaN
Name: октябрь 2023, dtype: float64
0.1786185441918703
-3.4229317670727796e-06
Series([], Name: октябрь 2023, dtype: float64)
0
0.0
Series([], Name: октябрь 2023, dtype: float64)
0
0.17558504691484766
Series([], Name: октябрь 2023, dtype: float64)
0
0
382    23540.0
383    17775.0
451    52400.0
453     1900.0
481        NaN
485    32375.0
632    28050.0
636    28050.0
677    41200.0
680    20000.0
683    26200.0
Name: октябрь 2023, dtype: float64
0.8362370621385686
0.0
375     80675.00
376      4851.47
477     78600.00
507    121500.00
510     44750.00
Name: октябрь 2023, dtype: float64
0.4736354256705994
0
Series([], Name: октябрь 2023, dtype: float64)
0
0
Series([], Name: октябрь 2023, dtype: float64)
0
0
Series([], Name: октябрь 2023, dtype: float64)
0
0
Series([], Name: октябрь 2023, dtype: float64)
0
0
458        NaN
474    44100.0
513    64620.0
515    61000.0
Name: ноябрь 2023, dtype: float64
0.32406316285646947
0.48485855522784865
421    142000.0
425         NaN
429     43000.0
434         NaN
439     89400.0
444     40400.0
446    202150.0
448     74025.0
466    103070.0
467         NaN
468    135000.0
473    131405.0
Name: ноябрь 2023, dtype: float64
0.791061481597168
0.0
394    50640.0
Name: ноябрь 2023, dtype: float64
0.0
0
415    59075.0
416     8780.0
417        NaN
449    45205.0
450        NaN
Name: ноябрь 2023, dtype: float64
0.6001238280558995
0
Series([], Name: ноябрь 2023, dtype: float64)
0
0
398     39726.0
403         NaN
404         NaN
409     19865.0
411     44870.0
413         NaN
414     51850.0
452     53800.0
454      1000.0
475    103700.0
476     60000.0
482         NaN
486     28175.0
517     71410.0
678         NaN
681     79655.0
Name: ноябрь 2023, dtype: float64
0.36113697114525556
0.6264084992871269
395     58810.00
396     11086.06
402     59885.85
478     68600.00
518    290000.00
Name: ноябрь 2023, dtype: float64
0.2740116643550536
2.874054667966616
Series([], Name: ноябрь 2023, dtype: float64)
0
0
501    98492.0
Name: ноябрь 2023, dtype: float64
1.1111818218738578
0
Series([], Name: ноябрь 2023, dtype: float64)
0
0
Series([], Name: ноябрь 2023, dtype: float64)
0
0

In [ ]:
#Рассчёт средних коэффициентов по отделу (можно сделать взвешенно при необходимости)
dept_summary = (
    coef_df.groupby('Месяц пролонгации')[['K1 (первый месяц)', 'K2 (второй месяц)']]
    .mean()
    .reset_index()
)
dept_summary['Менеджер'] = 'Отдел в целом'
dept_summary.sort_values('Месяц пролонгации')
#Объединяем
final_df = pd.concat([coef_df, dept_summary], ignore_index=True)

#Сортируем месяцы в алфавитном порядке
final_df['Месяц пролонгации'] = pd.Categorical(
    final_df['Месяц пролонгации'],
    categories=months,
    ordered=True
)

final_df = final_df.sort_values('Месяц пролонгации')

print(final_df.head(10)) #Оцениваем результат

In [11]:
#Записываем в файл результат
final_df.to_excel('prolongation_coefficients_2023.xlsx', index=False)